#app{
    margin: -8px;
    background-color: rgb(53, 87, 190)  ;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#tasks{
    margin-top: 80px;
}
#add{
    margin-top: 2vw;

}

#card{
    display: flex;
    flex-direction: column;
    align-items:center ;
    justify-content: space-between;
    width: 300px;
    height: 300px;
    margin-bottom: 15px;
    border-radius: 8px;
    background-color: rgb(15, 15, 94);
    color: #fff;
    font-size: 16px;
}
#checkbox{
    margin-top: 2vw;
}
#todo{
    margin: 5px;
}
#edit{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    gap: 3vw;
}
#input-edit{
    border-radius: 8px;
    color: rgb(78, 77, 77);
    border-color: #55a630;
}
#btn{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 2vw;
}
#btn-delete{
    background-color: rgb(187, 12, 12);
    color: white;
    border-radius: 10px;
    border-color: beige;
}
#btn-delete:hover{
    background-color: rgb(253, 0, 0);
}
#btn-update{
    background-color: #55a630;
    color: white;
    border-radius: 10px;
    border-color: beige;
}
#btn-update:hover{
    background-color: #51ff00;
}
#input-add{
    border-radius: 8px;
    border-color: rgb(28, 28, 131);
}
#btn-add{
    background-color: #219ebc;
    color: #023047;
    border-radius: 10px;
    border-color: #8ecae6;
}
#btn-add:hover{
    background-color: #00ccff;
}